
<nav class="t-header">
  <app-header></app-header>
</nav>

<div class="page-body" >
  <div>
      <app-menu></app-menu>
  </div>

  <div class="page-content-wrapper">
      <div class="page-content-wrapper-inner">
        <div class="col-lg-12">
          <div class="grid">
              <div class="card-header card-bg-info">
                Registrar Usuarios
                </div>
            <div class="grid-body">
              <div class="item-wrapper">
                <div class="row mb-3">
                  <div class="col-md-8 mx-auto">
                    <div class="form-group row showcase_row_area">
                      <div class="col-md-3 showcase_text_area">
                        <label for="nombre">Nombre</label>
                      </div>
                      <div class="col-md-9 showcase_content_area">
                        <input [(ngModel)]="user.nombre" type="text" class="form-control" id="nombre" placeholder="Escribe aqui......">
                      </div>
                    </div>
                    <div class="form-group row showcase_row_area">
                      <div class="col-md-3 showcase_text_area">
                        <label for="Apellidos">APELLIDOS</label>
                      </div>
                      <div class="col-md-9 showcase_content_area">
                        <input  [(ngModel)]="user.Apellidos" type="text" class="form-control" id="apellidos" placeholder="Escribe aqui......">
                      </div>
                    </div>
                    <div class="form-group row showcase_row_area">
                      <div class="col-md-3 showcase_text_area">
                        <label for="email">Email</label>
                      </div>
                      <div class="col-md-9 showcase_content_area">
                        <input  [(ngModel)]="user.email" type="email" class="form-control" id="email" placeholder="Escribe aqui......">
                      </div>
                    </div>
                    <div class="form-group row showcase_row_area">
                      <div class="col-md-3 showcase_text_area">
                        <label for="email">Password</label>
                      </div>
                      <div class="col-md-9 showcase_content_area">
                        <input  [(ngModel)]="user.password" type="password" class="form-control" id="password" placeholder="********">
                      </div>
                    </div>
                    
                    <div class="form-group row showcase_row_area">
                      <div class="col-md-3 showcase_text_area">
                        <label for="dni">DNI</label>
                      </div>
                      <div class="col-md-9 showcase_content_area">
                        <input  [(ngModel)]="user.DNI" type="number" class="form-control" id="dni" placeholder="Escribe aqui......">
                      </div>
                    </div>
                    <div class="form-group row showcase_row_area">
                      <div class="col-md-3 showcase_text_area">
                        <label for="telefono">TELEFONO</label>
                      </div>
                      <div class="col-md-9 showcase_content_area">
                        <input  [(ngModel)]="user.Telefono" type="number" class="form-control" id="telefono" placeholder="Escribe aqui......">
                      </div>
                    </div>
                    <div class="form-group row showcase_row_area">
                      <div class="col-md-3 showcase_text_area">
                        <label for="direccion">DIRECCION</label>
                      </div>
                      <div class="col-md-9 showcase_content_area">
                        <input [(ngModel)]="user.Direccion"  type="text" class="form-control" id="direccion"placeholder="Escribe aqui......">
                      </div>
                    </div>
                   <br>
                    <div>
                      <button style="margin-left: 60px;" (click)="SaveUser()" class="btn btn-outline-success">REGISTRAR USUARIOS</button>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </div>
      
   
</div>