<nav class="t-header">
  <app-header></app-header>
</nav>

<div class="page-body" >
  <div>
      <app-menu></app-menu>
  </div>

  <div class="page-content-wrapper">
      <div class="page-content-wrapper-inner">
        <div class="col-lg-12">
          <div class="grid">
              <div class="card-header card-bg-info">
                  TODOS LOS USUARIOS
              </div>
              <br>



              <div class="col-lg-12">
                  <div class="grid">
                    <p class="grid-header">Bandeja de Entrada</p>
                    <div class="item-wrapper">


                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>

                              <th>#</th>
                              <th>Nombres</th>
                              <th>Email</th>
                              <th>Dni</th>
                              <th>Telefono</th>
                              <th>Direccion</th>
                              <th>Opciones</th>


                            </tr>
                          </thead>

                          <tbody>

                           <tr *ngFor="let users of user ">
                                  <td>{{ users.iduser }}</td>
                                  <td>{{ users.nombre }} {{ users.Apellidos }}</td>
                                  <td>{{ users.email }}</td>
                                  <td>{{ users.DNI }}</td>
                                  <td>{{ users.Telefono }}</td>
                                  <td>{{ users.Direccion }}</td>
                                  <td>
                                    <button type="button" routerLink="/update/{{users.iduser}}"  class="btn btn-sm btn-primary has-icon btn-rounded text-center">
                                      <i class="mdi mdi-briefcase-edit-outline text-center"></i>Editar
                                    </button>

                                    <button type="button" (click)="eliminar(users.idPersona)"  class="btn btn-sm btn-danger has-icon btn-rounded text-center">
                                      <i class="mdi mdi-delete-circle-outline text-center text-white"></i> Eliminar
                                    </button>
                                  </td>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
        </div>
      </div>

  </div>




</div>
